<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row-justify-content">
            <h2>Пользователь: {{ authorizated.name }}</h2>
            <h2>Статус пользователя: {{ authorizated.condition }}</h2>
            <h3>Должности:</h3>
            {% if posts != 0 %}
                {% for post in posts %}
                    <p>№ {{post.id}}. Название: {{post.post}}</p>
                    <p><a class="btn btn-second" href="/listposts/delete/{{post.id}}" >Удалить должность</a></p>
                {% endfor %}
            {% else %}
                <p>Должностей нет</p>
            {% endif %}
        </div>
        <a class="btn btn-primary" href="/listposts/create" >Добавить себе должность</a>
        <a class="btn btn-primary" href="/vacancies" >Просмотреть вакансии</a>
        <a class="btn btn-second" href="/logout" >Выйти из системы</a>
    </div>
</body>
</html>
