<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row-justify-content">
            <h2>Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <label>Введите свои имя и фамилию: </label><br>
                    <input type="text" name="name" value=""/>
                <p>
                    <label>Введите свой статус поиска работы: </label><br>
                    <input type="text" name="condition" value=""/>
                </p>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</body>
</html>